<p>Продолжительность курса: 32 занятия (1 занятие &ndash; 2 ч 15 мин)</p>

<p>&nbsp;</p>

<p><strong>Биология как наука. Методы биологии</strong></p>

<p>Роль биологии в формировании современной естественнонаучной картины мира, в практической деятельности людей. Методы изучения живых объектов. Биологический эксперимент. Наблюдение, описание, измерение биологических объектов.</p>

<p>&nbsp;</p>

<p><strong>Признаки живых организмов</strong></p>

<p>Клеточное строение организмов как доказательство их родства, единства живой природы. Гены и хромосомы. Нарушения в строении и функционировании клеток &ndash; одна из причин заболеваний организмов. Вирусы &ndash; неклеточные формы жизни. Признаки организмов. Наследственность и изменчивость &ndash; свойства организмов. Одноклеточные и многоклеточные организмы. Ткани, органы, системы органов растений и животных, выявление изменчивости организмов. Приемы выращивания и размножения растений и домашних животных.</p>

<p>&nbsp;</p>

<p><strong>Система, многообразие и эволюция живой природы</strong></p>

<p>Царство Бактерии. Роль бактерий в природе, жизни человека и собственной деятельности. Бактерии &ndash; возбудители заболеваний растений, животных, человека. Царство Грибы. Роль грибов и лишайников в природе, жизни человека и собственной деятельности. Царство Растения. Роль растений в природе, жизни человека и собственной деятельности. Царство Животные. Роль животных в природе, жизни человека и собственной деятельности. Учение об эволюции органического мира. Ч. Дарвин &ndash; основоположник учения об эволюции. Усложнение растений и животных в процессе эволюции. Биологическое разнообразие как основа устойчивости биосферы и результата эволюции.</p>

<p>&nbsp;</p>

<p><strong>Человек и его здоровье</strong></p>

<p>Сходство человека с животными и отличие от них. Общий план строения и процессы жизнедеятельности человека. Нейро-гуморальная регуляция процессов жизнедеятельности организма. Нервная система. Рефлекс. Рефлекторная дуга. Железы внутренней секреции. Гормоны. Питание. Система пищеварения. Роль ферментов в пищеварении. Дыхание. Система дыхания. Внутренняя среда организма: кровь, лимфа, тканевая жидкость. Группы крови. Иммунитет. Транспорт веществ. Кровеносная и лимфатическая системы. Обмен веществ и превращение энергии в организме человека. Витамины. Выделение продуктов жизнедеятельности. Система выделения. Покровы тела и их функции. Размножение и развитие организма человека. Наследование признаков у человека. Наследственные болезни, их причины и предупреждение. Опора и движение. Опорно-двигательный аппарат. Органы чувств, их роль в жизни человека.</p>

<p>Психология и поведение человека. Высшая нервная деятельность. Условные и безусловные рефлексы, их биологическое значение. Познавательная деятельность мозга. Сон, его значение. Биологическая природа и социальная сущность человека. Сознание человека. Память, эмоции, речь, мышление. Особенности психики человека: осмысленность восприятия, словесно-логическое мышление, способность к накоплению и передаче из поколения в поколение информации. Значение интеллектуальных, творческих и эстетических потребностей. Цели и мотивы деятельности. Индивидуальные особенности личности: способности, темперамент, характер. Роль обучения и воспитания в развитии психики и поведения человека.</p>

<p>Соблюдение санитарно-гигиенических норм и правил здорового образа жизни. Переливание крови. Профилактические прививки. Уход за кожей, волосами, ногтями. Укрепление здоровья: закаливание, двигательная активность, сбалансированное питание, рациональная организация труда и отдыха, чистый воздух. Факторы риска: несбалансированное питание, гиподинамия, курение, употребление алкоголя и наркотиков, стресс, вредные условия труда, и др. Инфекционные заболевания: грипп, гепатит, ВИЧ-инфекция и другие инфекционные заболевания (кишечные, мочеполовые, органов дыхания). Предупреждение инфекционных заболеваний. Профилактика отравлений, вызываемых ядовитыми растениями и грибами; заболеваний, вызываемых паразитическими животными и животными &ndash; переносчиками возбудителей болезней; травматизма; ожогов; обморожений; нарушения зрения и слуха. Приемы оказания первой доврачебной помощи.</p>

<p>&nbsp;</p>

<p><strong>Взаимосвязи организмов и окружающей среды</strong></p>

<p>Влияние экологических факторов на организмы. Приспособления организмов к различным экологическим факторам. Популяция. Взаимодействия разных видов (конкуренция, хищничество, симбиоз, паразитизм). Сезонные изменения в живой природе. Экосистемная организация живой природы. Роль производителей, потребителей и разрушителей органических веществ в экосистемах и круговороте веществ в природе. Пищевые связи в экосистеме. Цепи питания. Особенности агроэкосистем. Биосфера &ndash; глобальная экосистема. Роль человека в биосфере. Экологические проблемы. Последствия деятельности человека в экосистемах.</p>

<p>&nbsp;</p>

<p><strong>Список рекомендуемой литературы</strong></p>

<ol>
	<li>
	<p>Биология ЕГЭ и ОГЭ. Раздел &laquo;растения, грибы, лишайники&raquo;. Теория и методические рекомендации. / А.А.Кириленко. &ndash; М.: Легион, 2017. &ndash; 368с.</p>
	</li>
	<li>
	<p>Драгомилов, А.Г. Биология. 8 класс: учеб. для бщеобразоват. учреждений / А.Г.Драгомилов, М.Р.Давидович. &ndash; М.: Вентана-Граф, 2017. &ndash; 288с.</p>
	</li>
	<li>
	<p>Мамонтов, С.Г. Биология: учебное пособие / С.Г.Мамонтов, Г.М.Палдяева, Е.Д.Богданова. &ndash; М.: Дрофа, 2014. &ndash; 544с.</p>
	</li>
	<li>
	<p>ОГЭ-2018. Биология. Сборник заданий / Г.И.Лернер. &ndash; М.: Эксмо-Пресс, 2017. &ndash; 240с.</p>
	</li>
	<li>
	<p>Пономарева, И.Н. Биология. 7 класс: учеб. для бщеобразоват. учреждений / И.Н.Пономарева, В.С.Кучменко, О.А.Корнилова. &ndash; М.: Вентана-Граф, 2017. &ndash; 272с.</p>
	</li>
	<li>
	<p>Пономарева, И.Н. Биология. 9 класс: учеб. для бщеобразоват. учреждений / И.Н.Пономарева, О.А.Корнилова, Н.М.Чернова. &ndash; М.: Вентана-Граф, 2017. &ndash; 272с.</p>
	</li>
</ol>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Структура КИМ ОГЭ</strong></p>

<p>Работа включает в себя 32 задания и состоит из двух частей.</p>

<p>Часть 1 содержит 28 заданий с кратким ответом: 22 задания базового уровня сложности с ответом в виде одной цифры, соответствующей номеру правильного ответа; 6 заданий повышенного уровня сложности, из которых 2 с выбором и записью трех верных ответов из шести, 3 на установление соответствия элементов двух информационных рядов, 1 на определение последовательности биологических процессов, явлений, объектов.</p>

<p>Часть 2 содержит 4 задания с развернутым ответом: 1 повышенного уровня сложности на работу с текстом, 3 высокого уровня сложности: 1 на анализ статистических данных, представленных в табличной форме, 2 на применение биологических знаний для решения практических задач.</p>

<p>&nbsp;</p>

<p><strong>Распределение заданий КИМ по уровню сложности</strong></p>

<p>Работа состоит из 32 заданий, из которых: 22 задания базового; 1 задание повышенного и 3 задания высокого уровня сложности.</p>

<p><strong>Продолжительность ОГЭ по биологии</strong></p>

<p>На выполнение экзаменационной работы отводится 3 часа (180 минут).</p>

<p><strong>Дополнительные материалы и оборудование</strong></p>

<p>На экзамене по биологии разрешается использовать линейку и непрограммируемый калькулятор.</p>
