<h1>Программа подготовки к ЕГЭ по химии для 11 класса</h1>

<p>Продолжительность курса: 32 занятия (1 занятие &ndash; 2 ч 15 мин)</p>

<p>&nbsp;</p>

<p><strong>Теоретические основы химии</strong></p>

<p>&nbsp;</p>

<p><em>Современные представления о строении атома</em></p>

<p>Строение электронных оболочек атомов элементов первых четырех периодов: <em>s</em>-, <em>p- </em>и <em>d</em>-элементы. Электронная конфигурация атомов и ионов. Основное и возбужденное состояние атомов.</p>

<p>&nbsp;</p>

<p><em>Периодический закон и Периодическая система химических элементов Д.И. Менделеева</em></p>

<p>Закономерности изменения свойств элементов и их соединений по периодам и группам. Общая характеристика металлов IА&ndash;IIIА групп в связи с их положением в Периодической системе химических элементов Д.И. Менделеева и особенностями строения их атомов. Характеристика переходных элементов (меди, цинка, хрома, железа) по их положению в периодической системе химических элементов Д.И. Менделеева и особенностям строения их атомов. Общая характеристика неметаллов IVА&ndash;VIIА групп в связи с их положением в Периодической системе химических элементов Д.И. Менделеева и особенностями строения их атомов.</p>

<p>&nbsp;</p>

<p><em>Химическая связь и строение вещества</em></p>

<p>Ковалентная химическая связь, ее разновидности и механизмы образования. Характеристики ковалентной связи (полярность и энергия связи). Ионная связь. Металлическая связь. Водородная связь электроотрицательность. Степень окисления. Вещества молекулярного и немолекулярного строения. Тип кристаллической решетки. Зависимость свойств веществ от их состава и строения.</p>

<p>&nbsp;</p>

<p><em>Химическая реакция</em></p>

<p>Классификация химических реакций в неорганической и органической химии. Тепловой эффект химической реакции. Термохимические уравнения. Скорость реакции, ее зависимость от различных факторов. Обратимые и необратимые химические реакции. Химическое равновесие. Смещение химического равновесия под действием различных факторов электролитическая диссоциация электролитов в водных растворах. Сильные и слабые электролиты. Реакции ионного обмена. Гидролиз солей. Среда водных растворов: кислая, нейтральная, щелочная. Реакции окислительно-восстановительные. Коррозия металлов и способы защиты от нее. Электролиз расплавов и растворов (солей, щелочей, кислот). Ионный (правило В.В. Марковникова) и радикальный механизмы реакций в органической химии.</p>

<p>&nbsp;</p>

<p><strong>Неорганическая химия</strong></p>

<p>Классификация неорганических веществ. Номенклатура неорганических веществ (тривиальная и международная). Характерные химические свойства простых веществ &ndash; металлов: щелочных, щелочноземельных, алюминия; переходных металлов (меди, цинка, хрома, железа). Характерные химические свойства простых веществ &ndash; неметаллов: водорода, галогенов, кислорода, серы, азота, фосфора, углерода, кремния. Характерные химические свойства оксидов: осн&oacute;вных, амфотерных, кислотных. Характерные химические свойства оснований и амфотерных гидроксидов. Характерные химические свойства кислот. Характерные химические свойства солей: средних, кислых, осн&oacute;вных; комплексных (на примере соединений алюминия и цинка). Взаимосвязь различных классов неорганических.</p>

<p>&nbsp;</p>

<p><strong>Органическая химия</strong></p>

<p>Веществ строения органических соединений: гомология и изомерия (структурная и пространственная). Взаимное влияние атомов в молекулах. Типы связей в молекулах органических веществ. Гибридизация атомных орбиталей углерода. Радикал. Функциональная группа. Классификация органических веществ. Номенклатура органических веществ (тривиальная и международная) Характерные химические свойства углеводородов: алканов, циклоалканов, алкенов, диенов, алкинов, ароматических углеводородов (бензола и толуола). Пластмассы. Каучук. Характерные химические свойства предельных одноатомных и многоатомных спиртов, фенола, Характерные химические свойства альдегидов, предельных карбоновых кислот, сложных эфиров. Характерные химические свойства азотсодержащих органических соединений: аминов и аминокислот. Биологически важные вещества: жиры, белки, углеводы (моносахариды, дисахариды, полисахариды). Взаимосвязь органических соединений.</p>

<p>&nbsp;</p>

<p><strong>Методы познания в химии. Химия и жизнь</strong></p>

<p>&nbsp;</p>

<p><em>Экспериментальные основы химии</em></p>

<p>Правила работы в лаборатории. Лабораторная посуда и оборудование. Правила безопасности при работе с едкими, горючими и токсичными веществами, средствами бытовой химии. Научные методы исследования химических веществ и превращений. Методы разделения смесей и очистки Веществ. Определение характера среды водных растворов веществ. Индикаторы. Качественные реакции на неорганические вещества и ионы. Качественные реакции органических соединений. Основные способы получения (в лаборатории) конкретных веществ, относящихся к изученным классам неорганических соединений. Основные способы получения углеводородов (в лаборатории). Основные способы получения органических кислородсодержащих соединений (в лаборатории).</p>

<p>&nbsp;</p>

<p><strong>Расчеты по химическим формулам и уравнениям реакций</strong></p>

<p>Расчеты с использованием понятия &laquo;массовая доля вещества в растворе&raquo;. Расчеты объемных отношений газов при химических реакциях. Расчеты массы вещества или объема газов по известному количеству вещества, массе или объему одного из участвующих в реакции веществ. Расчеты теплового эффекта реакции. Расчеты массы (объема, количества вещества) продуктов реакции, если одно из веществ дано в избытке (имеет примеси). Расчеты массы (объема, количества вещества) продукта реакции, если одно из веществ дано в виде раствора с определенной массовой долей растворенного вещества. Установление молекулярной и структурной формулы вещества. Расчеты массовой или объемной доли выхода продукта реакции от теоретически возможного. Расчеты массовой доли (массы) химического соединения в смеси.</p>

<p>&nbsp;</p>

<p><strong>Список рекомендуемой литературы</strong></p>

<ol>
	<li>
	<p>Габриелян, О.С. Химия. 10 класс. Контрольные и проверочные работы: учебное пособие: углубленный уровень / О.С.Габриелян, С.А.Сладков, А.М.Банару. &ndash; М.: Дрофа, 2016. &ndash; 192с.</p>
	</li>
	<li>
	<p>Габриелян, О.С. Химия. 10 класс: учеб. для бщеобразоват. учреждений: углубленный уровень / О.С.Габриелян, И.Г.Остроумов, С.Ю.Пономарева. &ndash; М.: Дрофа, 2017. &ndash; 368с.</p>
	</li>
	<li>
	<p>Габриелян, О.С. Химия. 11 класс: учеб. для бщеобразоват. учреждений: углубленный уровень / О.С.Габриелян, И.Г.Остроумов, С.Ю.Пономарева. &ndash; М.: Дрофа, 2017. &ndash; 400с.</p>
	</li>
	<li>
	<p>Доронькин, В.Н. Химия. ЕГЭ. 10-11 класс. Задани высокого уровня сложности: учебно-методическое пособие / В.Н.Доронькин, Т.В.Сажнева, А.Г.Бережная. &ndash; Ростов н/Д : Легион, 2017. &ndash; 372с.</p>
	</li>
	<li>
	<p>Доронькин, В.Н. Химия. ЕГЭ. 10-11 класс. Тематический тренинг. Базовый и повышенный уровень: учебно-методическое пособие / В.Н.Доронькин, Т.В.Сажнева, А.Г.Бережная. &ndash; Ростов н/Д : Легион, 2016. &ndash; 640с.</p>
	</li>
	<li>
	<p>Еремин, В.В. Химия. 10 класс: учеб. для бщеобразоват. учреждений: углубленный уровень / Е.Е.Еремин, Н.Е.Кузьменко, А.А.Дроздов, В.В.Лунин. &ndash; М.: Дрофа, 2017. &ndash; 448с.</p>
	</li>
	<li>
	<p>Еремин, В.В. Химия. 11 класс: учеб. для бщеобразоват. учреждений: углубленный уровень / Е.Е.Еремин, Н.Е.Кузьменко, А.А.Дроздов, В.В.Лунин. &ndash; М.: Дрофа, 2017. &ndash; 480с.</p>
	</li>
	<li>
	<p>Лидин, Р.А. Справочник по неорганической химии / Р.А.Лидин, Л.Л.Андреева, В.А.Молочко. &ndash; М.: Дрофа, 2007. &ndash; 637с.</p>
	</li>
	<li>
	<p>Лидин, Р.А. Тестовые задания по общей и неорганической химии с решениями и ответами: учебно-методическое пособие / Р.А.Лидин, Н.С.Рукк, Е.В.Савинкина. &ndash; М.: Бином, 2016. &ndash; 230с.</p>
	</li>
	<li>
	<p>Неорганическая химия. ЕГЭ. 10-11 класс. Задания и решения. Тренировочная тетрадь : учебно-методическое пособие / Под ред. В.Н.Доронькина. &ndash; Ростов н/Д : Легион, 2016. &ndash; 224с.</p>
	</li>
	<li>
	<p>Органическая химия 10-11 класс: учеб. для общеобразоват. учреждений / А.И.Артеменко &ndash; М.: АСТ-Пресс, 2006. &ndash; 400с.</p>
	</li>
	<li>
	<p>Органическая химия. ЕГЭ. 10-11 класс. Задания и решения. Тренировочная тетрадь : учебно-методическое пособие / Под ред. В.Н.Доронькина. &ndash; Ростов н/Д : Легион, 2016. &ndash; 272с.</p>
	</li>
	<li>
	<p>Попков, В.А. Начала химии. Для поступающих в вузы: учебное пособие /В.А.Попков, В.В.Еремин, Н.Е.Кузьменко. &ndash; М.: Лаборатория знаний, 2017. &ndash; 704с.</p>
	</li>
</ol>

<p>&nbsp;</p>

<p><strong>Структура КИМ ЕГЭ</strong></p>

<p>Каждый вариант экзаменационной работы построен по единому плану: работа состоит из двух частей, включающих в себя 34 задания.</p>

<p>Часть 1 содержит 29 заданий <em>с кратким ответом</em>, в их числе 20 заданий <em>базового уровня </em>сложности (в варианте они присутствуют под номерами: 1&ndash;9, 12&ndash;17, 20&ndash;21, 27&ndash;29) и 9 заданий <em>повышенного уровня </em>сложности (их порядковые номера: 10, 11, 18, 19, 22&ndash;26).</p>

<p>Часть 2 содержит 5 заданий <em>высокого уровня сложности, с развёрнутым ответом. </em>Это задания под номерами 30&ndash;34.</p>

<p>&nbsp;</p>

<p><strong>Распределение заданий КИМ по уровню сложности</strong></p>

<p>В экзаменационной работе представлены задания разных уровней сложности: базового, повышенного и высокого.</p>

<p>- 20 заданий базового уровня сложности (1-9, 12-17, 20, 21, 27-29)</p>

<p>- 9 заданий повышенного уровня сложности (10, 11, 18-19, 22-26)</p>

<p>- 5 заданий высокого уровня сложности (30-34)</p>

<p>&nbsp;</p>

<p><strong>Продолжительность ЕГЭ по химии</strong></p>

<p>Общая продолжительность выполнения экзаменационной работы составляет 3,5 часа (210 минут).</p>

<p>&nbsp;</p>

<p><strong>Дополнительные материалы и оборудование</strong></p>

<p>К каждому варианту экзаменационной работы прилагаются следующие материалы:</p>

<p>&minus; Периодическая система химических элементов Д.И. Менделеева;</p>

<p>&minus; таблица растворимости солей, кислот и оснований в воде;</p>

<p>&minus; электрохимический ряд напряжений металлов.</p>

<p>Во время выполнения экзаменационной работы разрешается использовать непрограммируемый калькулятор.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
