
<p>Продолжительность курса: 32 занятия (1 занятие &ndash; 2 ч 15 мин)</p>

<p>&nbsp;</p>

<table border="1" cellspacing="0" style="width:503.25pt">
	<tbody>
		<tr>
			<td colspan="2" style="vertical-align:top; width:503.25pt">
			<p>В ходе подготовки к ЕГЭ по английскому языку отрабатываем:</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:256.55pt">
			<p><strong>Навыки </strong></p>
			</td>
			<td style="vertical-align:top; width:246.7pt">
			<p><strong>Типовые задания</strong></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:256.55pt">
			<p>АУДИРОВАНИЕ</p>

			<p>LISTENING</p>

			<p>&nbsp;</p>
			</td>
			<td style="vertical-align:top; width:246.7pt">
			<p>Задания на соответствие(Matching)</p>

			<p>Задания с выбором ответа из трех вариантов (Three-optionanswers)</p>

			<p>Задания на множественный выбор (Multiplechoice)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:256.55pt">
			<p>ЧТЕНИЕ</p>

			<p>READING</p>

			<p>&nbsp;</p>
			</td>
			<td style="vertical-align:top; width:246.7pt">
			<p>Задания на соответствие(Matching)</p>

			<p>Задания на восстановление в тексте пропущенных частей предложений (Gappedtext)</p>

			<p>Задания на множественный выбор (Multiplechoice)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:256.55pt">
			<p>ГРАММАТИКАИЛЕКСИКА</p>

			<p>GRAMMAR&nbsp; AND&nbsp; VOCABULARY</p>

			<p>&nbsp;</p>
			</td>
			<td style="vertical-align:top; width:246.7pt">
			<p>Написание правильных форм (Correctforms)</p>

			<p>Словообразование (Wordbuilding)</p>

			<p>Задания на множественный выбор (Multiplechoice)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:256.55pt">
			<p>ПИСЬМЕННАЯ ЧАСТЬ</p>

			<p>WRITING</p>

			<p>&nbsp;</p>
			</td>
			<td style="vertical-align:top; width:246.7pt">
			<p>Написание писем: формат, организация, стиль письма</p>

			<p>Написание эссе: темы эссе, структура и параграфы основной части</p>

			<p>Структура, стиль и пунктуация при написании эссе</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:256.55pt">
			<p>УСТНАЯ ЧАСТЬ</p>

			<p>SPEAKING</p>

			<p>&nbsp;</p>
			</td>
			<td style="vertical-align:top; width:246.7pt">
			<p>Основные навыки говорения (BasicSpeakingSkills)</p>

			<p>Монолог (Monologue)</p>

			<p>Диалог (Dialogue)</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<table border="1" cellspacing="0">
	<tbody>
		<tr>
			<td colspan="3" style="vertical-align:top; width:500.1pt">&nbsp;
			<p><strong>Программа подготовки к ЕГЭ по английскому языку: </strong></p>

			<p><strong>Аудирование и Говорение (Устная часть)</strong></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p><strong>Тема</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p><strong>Навыки аудирования</strong></p>

			<p><strong>Listening skills</strong></p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p><strong>Навыки говорения</strong></p>

			<p><strong>Speaking skills</strong></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Взаимоотношения</p>

			<p><strong>Relationships</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Аудирование с пониманием основного содержания</p>

			<p>(Listeningforgist)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Использование ударения в словах для подготовки к чтению вслух небольшого текста</p>

			<p>(Usingstressinwords)</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Развлечения</p>

			<p><strong>Entertainment</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Аудирование с извлечением запрашиваемой информации</p>

			<p>(Listeningforspecificinformation)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Пониманиеситуации</p>

			<p>(Understanding&nbsp; the situation)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Домашние обязанности и свободное время</p>

			<p><strong>Choresandfreetime</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Аудированиена определение мнения говорящего</p>

			<p>(Listeningforopinion)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Умение выбрать фото и составить план для его описания (Choosingphotoandplanning)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Друзья</p>

			<p><strong>Friends</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Аудированиена определение отношения и чувств говорящего</p>

			<p>(Listening for attitude and feelings)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Умение дать краткое описание (Givingabriefdescription)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Карьера</p>

			<p><strong>Careers</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Разборпредложений, когда нельзя дать ни положительного, ни отрицательного ответа, т.е. когда говорящий не упоминает о чем-то</p>

			<p>(Understanding when something is not stated)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Использование ударения в словах и предложениях (Usingstressinwordsandsentences)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Наука</p>

			<p><strong>Science</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Пониманиеразличиявзначении</p>

			<p>(Understanding difference in meaning)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Составление прямых вопросов, требующих ответа &laquo;да&raquo; или &laquo;нет&raquo;</p>

			<p>(Formingyes/noquestions)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Школа</p>

			<p><strong>School</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Навык прогнозирования (Predicting)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Использование описательных фраз</p>

			<p>(Usingdescriptionphrases)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Праздникиитрадиции</p>

			<p><strong>Holidays and traditions</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Понимание логики (Understanding logic)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Умение делать предположение (Speculating)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Модаипокупки</p>

			<p><strong>Fashion and shopping</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Аудированиенапоисксинонимов</p>

			<p>(Listeningforsynonyms)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Использование ударения и интонации в предложениях</p>

			<p>(Using stress and intonation in sentences)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Городидеревня</p>

			<p><strong>Town and countryside</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Аудирование с извлечением запрашиваемой информации</p>

			<p>(Listeningforspecificinformation)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Составление специальных вопросов, требующих развернутого ответа</p>

			<p>(Formingwh-questions)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Технологии</p>

			<p><strong>Technology</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Аудирование на поиск синонимов</p>

			<p>(Listeningforsynonyms)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Использование воображения</p>

			<p>(Usingyourimagination)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Путешествия</p>

			<p><strong>Travel</strong></p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Пониманиеподразумеваемого</p>

			<p>(Understanding implication)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Сравнение и противопоставление</p>

			<p>(Comparingandcontrasting)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Здоровьеифитнес</p>

			<p>(Health and fitness)</p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Аудирование на определение мнения говорящего</p>

			<p>(Listeningforopinion)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Работа с незнакомыми словами и фразами</p>

			<p>(Dealing with unknown words and phrases)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Повседневная жизнь</p>

			<p>(Everyday life)</p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Прогнозирование</p>

			<p>(Predicting)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Умение понимать инструкции и подсказки в заданиях</p>

			<p>(Understanding the prompts)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Высшее образование</p>

			<p>(Higher education)</p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Аудирование с извлечением запрашиваемой информации</p>

			<p>(Listeningforspecificinformation)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Умение аргументировать свое мнение</p>

			<p>(Givingreasons)</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:127.85pt">
			<p>Природа и окружающая среда</p>

			<p>(Nature and the environment)</p>
			</td>
			<td style="vertical-align:top; width:186.7pt">
			<p>Аудирование на поиск синонимов</p>

			<p>(Listeningforsynonyms)</p>
			</td>
			<td style="vertical-align:top; width:185.55pt">
			<p>Умение выразить предпочтение</p>

			<p>(Expressingapreference)</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<table cellspacing="0" style="width:501.85pt">
	<tbody>
		<tr>
			<td colspan="2" style="vertical-align:top; width:501.85pt">
			<p><strong>Программа подготовки к ЕГЭ по английскому языку: Лексика и Грамматика</strong></p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top; width:161.65pt">
			<p><strong>Лексика</strong></p>

			<p><strong>Vocabulary</strong></p>
			</td>
			<td style="vertical-align:top; width:12.0cm">
			<p><strong>Грамматика</strong></p>

			<p><strong>Grammar</strong></p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Путешествия и виды транспорта</p>

			<p><strong>Travelandtransport</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Present Simple, present continuous, present perfect simple, present perfect continuous, stative verbs</p>

			<p>&nbsp;</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Хобби, спортиигры</p>

			<p><strong>Hobbies, sport and games</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Past time: past simple, past continuous, past perfect simple, past perfect continuous, would, used to/be/get used to</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Наукаитехнологии</p>

			<p><strong>Science and technology</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Future time/present tenses in time clauses/prepositions of time and place</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>СМИ</p>

			<p><strong>The media</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Articles/countable and uncountable/quantifiers</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Людииобщество</p>

			<p><strong>People and society</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Conditionals: zero, first, second, mixed, inverted/unless, in case/as/so long as, provided that</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Закон и преступление</p>

			<p><strong>The law and crime</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Comparatives and superlatives/so, such, enough, too</p>

			<p>&nbsp;</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Здоровьеифитнес</p>

			<p><strong>Health and fitness</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Modals: ability, permission, advice, criticism, obligation and necessity, degrees of certainty</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Едаинапитки</p>

			<p><strong>Food and drink</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>The passive/the causative/direct and indirect objects</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Образованиеиучеба</p>

			<p><strong>Education and learning</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>-ing form or infinitive/prefer, would rather, had better/infinitives of purpose</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Погода и окружающая среда</p>

			<p><strong>Weather and the environment </strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Question/question tags/indirect questions</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Деньги и покупки</p>

			<p><strong>Money and shopping</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Reported speech/reported questions/indirect questions</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Развлечения</p>

			<p><strong>Entertainment</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Relative clauses/participles</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Модаидизайн</p>

			<p><strong>Fashion and design</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Unreal past, wishes/contrast</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:161.65pt">
			<p>Работаибизнес</p>

			<p><strong>Work and business</strong></p>
			</td>
			<td rowspan="2" style="height:16.1pt; vertical-align:top; width:12.0cm">
			<p>Inversions and possessions</p>
			</td>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
		<tr>
			<td style="height:16.1pt">&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p>Занятия проходят в группах и индивидуально. Индивидуальная программа подбирается на основе задач, которые стоят перед учеником, желаемого результата и пробелов, которые имеются на данный момент. Представленные программы могут быть использованы как по отдельности, так и в совокупности.</p>

<p>Мы также набираем группы, которые хотят отточить ТОЛЬКО говорение и аудирование и группы, которые хотят отточить ТОЛЬКО грамматику и лексику.</p>

<p>&nbsp;</p>

<p><strong>Список рекомендуемой литературы</strong></p>

<ol>
	<li>Вербицкая М., ExamSuccess. Подготовка к ЕГЭ по английскому языку/Риммер У., Виноградова О., Кожевникова О. &ndash;Кэмбридж: КэмбриджЮниверсити Пресс, 2013. &ndash; 296с.</li>
	<li>Вербицкая М., Учебное пособие для подготовки к ЕГЭ по английскому языку: грамматика и лексика / Манн М., Тейлор-Ноулз С. &ndash; Оксфорд: Макмиллан, 2017 &ndash; 224 с.</li>
	<li>Вербицкая М., Учебное пособие для подготовки к ЕГЭ по английскому языку: аудирование и говорение с интернет-ресурсом / Манн М., Тейлор-Ноулз С. &ndash; Оксфорд: Макмиллан, 2017 &ndash; 144 с.</li>
	<li>КапелА., ШарпВ. ObjectiveFirst&ndash;Кэмбридж: КэмбриджЮниверсити Пресс, 2013. &ndash; 240с.</li>
</ol>

<p>&nbsp;</p>

<p><strong>Структура КИМ ЕГЭ</strong></p>

<p>Экзаменационная работа содержит письменную и устную части.</p>

<p>В работу по английскому языку включены 38 заданий с кратким ответом и 6 заданий открытого типа с развернутым ответом.</p>

<p>Ответы к заданиям 3&ndash;9, 12&ndash;18 и 32&ndash;38 записываются в виде одной цифры. Ответы кзаданиям 1, 2, 10, 11 записываются в виде последовательности цифр. Ответык заданиям 19&ndash;31 записываются в виде слова (несколькихслов). Раздел 4 (&laquo;Письмо&raquo;) состоит из 2 заданий (39 и 40) и представляет собой небольшую письменную работу (написание личного письма и письменного высказывания с элементами рассуждения).</p>

<p>Устная часть КИМ ЕГЭ поанглийскому языку включает в себя 4 задания. Задание 1 &ndash; чтение вслух небольшого текста научно-популярного характера. В задании 2 предлагается ознакомиться с рекламным объявлением и задать пять вопросов на основе ключевыхслов. В задании 3 предлагаетсявыбрать одну из трёх фотографий и описать её на основе плана. В задании 4 ставится задачасравнить две фотографии на основе предложенного плана. Общее время ответа одного экзаменуемого (включая время на подготовку) &ndash; 15 минут.</p>

<p>&nbsp;</p>

<p><strong>Распределение заданий КИМ по уровню сложности</strong></p>

<p>В разделах &laquo;Аудирование&raquo; и &laquo;Чтение&raquo; представлены задания, относящиеся к трем разным уровням сложности; в разделе &laquo;Грамматика и лексика&raquo; &ndash; к двум (базовому и повышенному). В разделе &laquo;Письмо&raquo; и в устной части экзамена задания относятся к базовому и высокому уровням сложности.</p>

<p>Задания в экзаменационной работе располагаются по возрастающей степени трудности внутри каждого раздела работы.</p>

<p>&nbsp;</p>

<p><strong>Продолжительность ЕГЭ по английскому языку</strong></p>

<p>Время выполнения четырех письменных разделов экзаменационной работы &ndash; 3 часа (180 минут).</p>

<p>Устная часть экзамена выполняется в отдельный день; время выполнения заданий, включая время подготовки, &ndash; 15 минут.</p>

<p>Общее время выполнения всех разделов экзаменационной работы &ndash; 3 часа и 15 минут (195 минут).</p>

<p>&nbsp;</p>

<p><strong>Дополнительные материалы и оборудование</strong></p>

<p>Каждая аудитория для проведения письменной части ЕГЭ по иностранным языкам должна быть оснащена техническим средством, обеспечивающим качественное воспроизведение аудиозаписей на компакт- дисках (СD) для выполнения заданий раздела 1 &laquo;Аудирование&raquo;.</p>

<p>Аудитории для проведения устной части экзамена должны быть оснащены компьютерами с предустановленным специальным программным обеспечением, а также гарнитурами с встроенными микрофонами. Для проведения устной части экзамена могут использоваться лингафонные кабинеты с соответствующим оборудованием.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
