<p>Продолжительность курса: 32 занятия (1 занятие &ndash; 2 ч 15 мин)</p>

<p>&nbsp;</p>

<p><strong>Древность и Средневековье</strong></p>

<p>&nbsp;</p>

<p><strong>Народы и древнейшие государства на территории России.</strong></p>

<p>Восточнославянские племена и их соседи. Занятия, общественный строй, верования восточных славян.</p>

<p>&nbsp;</p>

<p><strong>Русь в IX &ndash; начале XII в.</strong></p>

<p>Возникновение государственности у восточных славян. Князья и дружина. Вечевые порядки. Принятие христианства. Категории населения. &laquo;Русская Правда&raquo;. Международные связи Древней Руси. Культура Древней Руси. Христианская культура и языческие традиции.</p>

<p>&nbsp;</p>

<p><strong>Русские земли и княжества в XII &ndash; середине XV в.</strong></p>

<p>Причины распада Древнерусского государства. Крупнейшие земли и княжества. Монархии и республики. Монгольское завоевание. Образование монгольского государства. Русь и Орда. Экспансия с Запада. Москва как центр объединения русских земель. Политика московских князей. Взаимосвязь процессов объединения русских земель и освобождения от ордынского владычества. Восстановление экономики русских земель. Колонизация Северо-Восточной Руси. Формы землевладения и категории населения. Русский город. Культурное развитие русских земель и княжеств.</p>

<p>&nbsp;</p>

<p><strong>Российское государство во второй половине XV&ndash;XVII в.</strong></p>

<p>Завершение объединения русских земель и образование Российского государства. Становление органов центральной власти. Свержение ордынского ига. Изменения в социальной структуре общества и формах феодального землевладения. Установление царской власти. Реформы середины XVI в. Создание органов сословно-представительной монархии. Опричнина. Закрепощение крестьян. Расширение территории России в XVI в.: завоевания и колонизационные процессы. Ливонская война. <strong> </strong>Формирование национального самосознания. Развитие культуры народов России в XV&ndash;XVII вв. Усиление светских элементов в русской культуре XVII в. Смута. Социальные движения в России в начале XVII в. Борьба с Речью Посполитой и со Швецией. Ликвидация последствий Смуты. Первые Романовы. Новые явления в экономике: начало складывания всероссийского рынка, образование мануфактур. Юридическое оформление крепостного права. Церковный раскол. Социальные движения XVII в.</p>

<p>&nbsp;</p>

<p><strong>Новое время</strong></p>

<p>&nbsp;</p>

<p><strong>Россия в XVIII &ndash; середине XIX в.</strong></p>

<p>Петровские преобразования. Абсолютизм. Формирование чиновничье-бюрократического аппарата. Традиционные порядки и крепостничество в условиях развертывания модернизации. Северная война. Провозглашение Российской империи. &laquo;Просвещенный абсолютизм&raquo;. Законодательное оформление сословного строя. Особенности экономики России в XVIII &ndash; первой половине XIX в.: господство крепостного права и зарождение капиталистических отношений. Начало промышленного переворота. Русское просвещение. Превращение России в мировую державу в XVIII в. Культура народов России и ее связь с европейской и мировой культурой XVIII &ndash; первой половины XIX в. Правовые реформы и мероприятия по укреплению абсолютизма в первой половине XIX в. Отечественная война 1812 г. Движение декабристов. Консерваторы. Славянофилы и западники. Русский утопический социализм. Имперская внешняя политика самодержавия. Крымская война и ее последствия для страны.</p>

<p>&nbsp;</p>

<p><strong>Россия во второй половине XIX &ndash; начале ХХ в.</strong></p>

<p>Реформы 1860&ndash;1870-х гг. Политика контрреформ. Капиталистические отношения в промышленности и сельском хозяйстве. Роль государства в экономической жизни страны. Нарастание экономических и социальных противоречий в условиях форсированной модернизации. Реформы С.Ю. Витте. Идейные течения, политические партии и общественные движения в России на рубеже веков. Восточный вопрос во внешней политике Российской империи. Россия в системе военно-политических союзов. Русско-японская война. Духовная жизнь российского общества во второй половине XIX &ndash; начале ХХ в. Критический реализм. Русский авангард. Развитие науки и системы образования. Революция 1905&ndash;1907 гг. Становление российского парламентаризма. Либерально-демократические, радикальные, националистические движения. Реформы П.А. Столыпина.</p>

<p>&nbsp;</p>

<p><strong>Список рекомендуемой литературы</strong></p>

<ol>
	<li>
	<p>Артасов, И.А. История. Большой сборник тематических заданий для подготовки к ЕГЭ / И.А.Артасов, О.Н.Мельникова. &ndash; М.: АСТ, 2017. &ndash; 360с.</p>
	</li>
	<li>
	<p>Баранов, П.А. История России в таблицах и схемах. 10-11 класс: справочное пособие / П.А.Баранов, С.А.Юшина. &ndash; М.: АСТ, 2017. &ndash; 288с.</p>
	</li>
	<li>
	<p>Орлов, А.С. История России в датах: учебное пособие / А.С.Орлов, В.А.Георгиев, Н.Г.Георгиева. &ndash; М.: Проспект, 2017. &ndash; 48с.</p>
	</li>
	<li>
	<p>Орлов, А.С. История России в схемах: учебное пособие / А.С.Орлов, В.А.Георгиев, Н.Г.Георгиева. &ndash; М.: Проспект, 2017. &ndash; 304с.</p>
	</li>
	<li>
	<p>Орлов, А.С. История России: учебник / А.С.Орлов, В.А.Георгиев, Н.Г.Георгиева. &ndash; М.: Проспект, 2017. &ndash; 528с.</p>
	</li>
</ol>

<p>&nbsp;</p>

<p><strong>Структура КИМ ЕГЭ</strong></p>

<p>Каждый вариант экзаменационной работы состоит из двух частей и включает в себя 25 заданий, различающихся формой и уровнем сложности.</p>

<p>Часть 1 содержит 19 заданий с кратким ответом.</p>

<p>В экзаменационной работе предложены следующие разновидности заданий с кратким ответом:</p>

<p>&ndash; задания на выбор и запись правильных ответов из предложенного перечня ответов;</p>

<p>&ndash; задания на определение последовательности расположения данных элементов;</p>

<p>&ndash; задания на установление соответствия элементов, данных в нескольких информационных рядах;</p>

<p>&ndash; задания на определение по указанным признакам и запись в виде слова</p>

<p>(словосочетания) термина, названия, имени, века, года и т.п.</p>

<p>Часть 2 содержит 6 заданий с развёрнутым ответом, выявляющих и оценивающих освоение выпускниками различных комплексных умений.</p>

<p>Задания 20&ndash;22 представляют собой комплекс заданий, связанных с анализом исторического источника (проведение атрибуции источника; извлечение информации; привлечение исторических знаний для анализа проблематики источника, позиции автора).</p>

<p>Задания 23&ndash;25 связанны с применением приёмов причинно-следственного, структурно-функционального, временного и пространственного анализа для изучения исторических процессов и явлений. Задание 23 связано с анализом какой-либо исторической проблемы, ситуации. Задание 24 &ndash; анализ исторических версий и оценок, аргументация различных точек зрения с привлечением знаний курса. Задание 25 предполагает написание исторического сочинения. Задание 25 альтернативное: выпускник имеет возможность выбрать один из трёх периодов истории России и продемонстрировать свои знания и умения на наиболее знакомом ему историческом материале. Задание 25 оценивается по системе критериев.</p>

<p>&nbsp;</p>

<p><strong>Распределение заданий КИМ по уровню сложности</strong></p>

<p>В экзаменационную работу включены задания базового, повышенного и высокого уровней сложности.</p>

<p>Часть 1 содержит задания базового и повышенного уровней; часть 2 &ndash; задания базового, повышенного и высокого уровней сложности.</p>

<p>&nbsp;</p>

<p><strong>Продолжительность ЕГЭ по истории</strong></p>

<p>На выполнение экзаменационной работы по истории отводится 3 часа 55 минут (235 минут).</p>

<p>&nbsp;</p>

<p><strong>Дополнительные материалы и оборудование</strong></p>

<p>Дополнительные материалы и оборудование не используются.</p>

<p><br />
&nbsp;</p>
