<p>Продолжительность курса: 32 занятия (1 занятие &ndash; 2 ч 15 мин)</p>

<p>&nbsp;</p>

<p><strong>Алгебра</strong></p>

<p><em>Числа, корни и степени</em></p>

<p>Целые числа. Степень с натуральным показателем. Дроби, проценты, рациональные числа. Степень с целым показателем. Степень с рациональным показателем и её свойства.</p>

<p><em>Основы тригонометрии</em></p>

<p>Синус, косинус, тангенс, котангенс произвольного угла и числа, суммы и разности двух углов. Основные тригонометрические тождества. Формулы приведения. Синус и косинус двойного угла.</p>

<p><em>Логарифмы</em></p>

<p>Логарифм числа. Логарифм произведения, частного, степени. Десятичный и натуральный логарифмы.</p>

<p><em>Преобразования выражений</em></p>

<p>Преобразования выражений, включающих арифметические операции. Преобразования выражений, включающих операцию возведения в степень. Преобразования выражений, включающих корни натуральной степени. Преобразования тригонометрических выражений. Модуль.</p>

<p><strong>Уравнения и неравенства</strong></p>

<p><em>Уравнения</em></p>

<p>Квадратные, рациональные, иррациональные тригонометрические уравнения. Логарифмические уравнения. Равносильность уравнений, систем уравнений. Использование свойств и графиков функций при решении уравнений. Применение математических методов для решения содержательных задач из различных областей науки и практики.</p>

<p><em>Неравенства</em></p>

<p>Квадратные, рациональные, показательные и логарифмические неравенства. Системы линейных неравенств. Использование свойств и графиков функций при решении Неравенств. Метод интервалов.</p>

<p><strong>Функции</strong></p>

<p><em>Определение и график функции</em></p>

<p>Функция, область определения функции. Множество значений функции. График функции. Примеры функциональных зависимостей в реальных процессах и явлениях. Обратная функция. График обратной функции. Преобразования графиков: параллельный перенос, симметрия относительно осей координат.</p>

<p><em>Элементарное исследование функций</em></p>

<p>Монотонность функции. Промежутки возрастания и убывания. Чётность и нечётность функции. Периодичность функции. Ограниченность функции. Точки экстремума (локального максимума и минимума). Функции. Наибольшее и наименьшее значения функции.</p>

<p><em>Основные элементарные функции</em></p>

<p>Линейная функция, её график. Функция, описывающая обратную пропорциональную зависимость, её график. Квадратичная функция, её график. Степенная функция с натуральным показателем, её график. Тригонометрические функции, их графики. Показательная функция, её график. Логарифмическая функция, её график</p>

<p><strong>Начала математического анализа</strong></p>

<p><em>Производная</em></p>

<p>Понятие о производной функции, геометрический смысл производной. Физический смысл производной, нахождение скорости для процесса, заданного формулой или графиком. Уравнение касательной к графику функции. Производные суммы, разности, произведения, частного. Производные основных элементарных функций. Вторая производная и её физический смысл.</p>

<p><em>Исследование функций</em></p>

<p>Применение производной к исследованию функций и построению графиков. Примеры использования производной для нахождения наилучшего решения в прикладных, в том числе социально-экономических, задачах.</p>

<p><em>Первообразная и интеграл</em></p>

<p>Первообразные элементарных функций. Примеры применения интеграла в физике и геометрии.</p>

<p><strong>Геометрия</strong></p>

<p><em>Планиметрия</em></p>

<p>Треугольник. Параллелограмм, прямоугольник, ромб, квадрат. Трапеция. Окружность и круг. Окружность, вписанная в треугольник, и окружность, описанная около треугольника. Многоугольник.</p>

<p><em>Прямые и плоскости в пространстве</em></p>

<p>Пересекающиеся, параллельные и скрещивающиеся прямые; перпендикулярность прямых. Параллельность прямой и плоскости. Параллельность плоскостей. Перпендикулярность прямой и плоскости; перпендикуляр и наклонная; теорема о трёх перпендикулярах. Перпендикулярность плоскостей.</p>

<p><em>Многогранники</em></p>

<p>Призма прямая и правильная. Параллелепипед; куб; симметрии в кубе, в параллелепипеде. Пирамида треугольная и правильная. Сечения куба, призмы, пирамиды.</p>

<p><em>Тела и поверхности вращения</em></p>

<p>Цилиндр. Основание, высота, боковая поверхность, образующая, развертка. Шар и сфера, их сечения.</p>

<p><em>Измерение геометрических величин</em></p>

<p>Величина угла, градусная мера угла, соответствие между величиной угла и длиной дуги окружности. Угол между прямыми в пространстве, между прямой и плоскостью, между плоскостями. Длина отрезка, ломаной, окружности, периметр многоугольника. Расстояние от точки до прямой, от точки до плоскости. Площадь треугольника, параллелограмма, трапеции, круга, сектора. Площадь поверхности конуса, цилиндра, сферы. Объём куба, прямоугольного параллелепипеда, пирамиды, призмы, цилиндра, конуса, шара.</p>

<p><em>Координаты и векторы</em></p>

<p>Координаты на прямой, декартовы координаты на плоскости и в пространстве. Формула расстояния между двумя точками; уравнение сферы. Вектор, модуль вектора, равенство векторов; сложение векторов и умножение вектора на число. Коллинеарные векторы. Компланарные векторы. Координаты вектора; скалярное произведение векторов; угол между векторами.</p>

<p><strong>Элементы комбинаторики, статистики и теории вероятностей</strong></p>

<p><em>Элементы комбинаторики</em></p>

<p>Поочередный и одновременный выбор. Формулы числа сочетаний и перестановок. Бином Ньютона.</p>

<p><em>Элементы статистики</em></p>

<p>Табличное и графическое представление данных. Числовые характеристики рядов данных</p>

<p><em>Элементы теории вероятностей</em></p>

<p>Вероятности событий. Примеры использования вероятностей и статистики при решении прикладных задач</p>

<p>&nbsp;</p>

<p><strong>Список рекомендуемой литературы</strong></p>

<ol>
	<li>
	<p>Мордкович, А.Г. Алгебра и начало математического анализа. 11 класс: учеб. для бщеобразоват. учреждений: профильный уровень / А.Г.Мордкович, П.В.Семенов, Л.И.Звавич. &ndash; М.: Мнемозина, 2014.</p>
	</li>
	<li>
	<p>Мордкович, А.Г. Алгебра и начало математического анализа. 11 класс: учеб. для бщеобразоват. учреждений: базовый и углубленный уровень / А.Г.Мордкович, П.В.Семенов, А.Р.Рязановский. &ndash; М.: Мнемозина, 2017.</p>
	</li>
	<li>
	<p>Мордкович, А.Г. Алгебра и начало математического анализа. 11 класс: задачник: профильный уровень / А.Г.Мордкович, П.В.Семенов, Л.И.Звавич. &ndash; М.: Мнемозина, 2014.</p>
	</li>
	<li>
	<p>Мордкович, А.Г. Алгебра и начало математического анализа. 11 класс: задачник: базовый и углубленный уровень / А.Г.Мордкович, П.В.Семенов, А.Р.Рязановский. &ndash; М.: Мнемозина, 2017.</p>
	</li>
	<li>
	<p>Потоскуев, Е.В. Геометрия. 11 класс: задачник: углубленный уровень / Потоскуев Е.В., Звавич Л.И. &ndash; М.: Дрофа, 2014.</p>
	</li>
	<li>
	<p>Потоскуев, Е.В. Геометрия. 11 класс: учеб. для бщеобразоват. учреждений: углубленный уровень / Потоскуев Е.В., Звавич Л.И. &ndash; М.: Дрофа, 2014.</p>
	</li>
	<li>
	<p>Семенов, А.В. Математика. 3300 задач. Профильный уровень. / А.В.Семенов, И.В.Ященко, А.С.Трепалин. &ndash; М.: Интелект-Центр, 2016. &ndash; 128с.</p>
	</li>
	<li>
	<p>Ященко, И.В. <a href="http://www.ukazka.ru/catalog/book-matematika-reshenie-zadanij-povyshennogo-i-vysokogo-urovnya-slozhnosti-kak-poluchit-maksimalnyj-ball-25374.html">Математика. Решение заданий повышенного и высокого уровня сложности. Как получить максимальный балл</a> / И.В.Ященко. &ndash; М.: Экзамен, 2016. &ndash; 591с.</p>
	</li>
</ol>

<p><strong>Структура КИМ ЕГЭ</strong></p>

<p>Экзаменационная работа состоит из двух частей, которые различаются по содержанию, сложности и числу заданий:</p>

<p>&ndash; часть 1 содержит 8 заданий (задания 1&ndash;8) с кратким ответом в виде целого числа или конечной десятичной дроби;</p>

<p>&ndash; часть 2 содержит 4 задания (задания 9&ndash;12) с кратким ответом в виде целого числа или конечной десятичной дроби и 7 заданий (задания 13&ndash;19) с развернутым ответом (полная запись решения с обоснованием выполненных действий).</p>

<p>&nbsp;</p>

<p><strong>Распределение заданий КИМ по уровню сложности</strong></p>

<p>Часть 1 содержит 8 заданий базового уровня (задания 1&ndash;8).</p>

<p>Часть 2 содержит 9 заданий повышенного уровня (задания 9&ndash;17) и 2 (18-19) задания высокого уровня сложности (задания 18, 19).</p>

<p>&nbsp;</p>

<p><strong>Продолжительность ЕГЭ по математике профильного уровня</strong></p>

<p>На выполнение экзаменационной работы отводится 3 часа 55 минут (235 минут).</p>

<p>&nbsp;</p>

<p><strong>Дополнительные материалы и оборудование</strong></p>

<p>Необходимые справочные материалы выдаются вместе с текстом экзаменационной работы. При выполнении заданий разрешается пользоваться линейкой.</p>
