<p>Продолжительность курса: 32 занятия (1 занятие &ndash; 2 ч 15 мин)</p>

<p>&nbsp;</p>

<p><strong>Алгебра</strong></p>

<p><em>Числа, корни и степени</em></p>

<p>Целые числа. Степень с натуральным показателем. Дроби, проценты, рациональные числа. Степень с целым показателем. Корень степени <em>n </em>&gt; 1 и его свойства. Степень с рациональным показателем и её свойства. Свойства степени с действительным показателем.</p>

<p><em>Основы тригонометрии</em></p>

<p>Синус, косинус, тангенс, котангенс произвольного угла. Радианная мера угла. Синус, косинус, тангенс и котангенс числа. Основные тригонометрические тождества. Формулы приведения. Синус, косинус и тангенс суммы и разности двух углов. Синус и косинус двойного угла.</p>

<p><em>Логарифмы</em></p>

<p>Логарифм числа. Логарифм произведения, частного, степени. Десятичный и натуральный логарифмы.</p>

<p><em>Преобразования выражений</em></p>

<p>Преобразования выражений, включающих арифметические операции. Преобразования выражений, включающих операцию возведения в степень. Преобразования выражений, включающих корни натуральной степени. Преобразования тригонометрических выражений. Преобразование выражений, включающих операцию логарифмирования. Модуль (абсолютная величина) числа.</p>

<p><strong>Уравнения и неравенства</strong></p>

<p><em>Уравнения</em></p>

<p>Квадратные, рациональные, иррациональные тригонометрические уравнения. Показательные уравнения. Логарифмические уравнения. Равносильность уравнений, систем уравнений. Простейшие системы уравнений с двумя неизвестными. Основные приёмы решения систем уравнений: подстановка, алгебраическое сложение, введение новых переменных. Использование свойств и графиков функций при решении уравнений. Изображение на координатной плоскости множества решений уравнений с двумя переменными и их систем. Применение математических методов для решения содержательных задач из различных областей науки и практики. Интерпретация результата, учёт реальных ограничений.</p>

<p><em>Неравенства</em></p>

<p>Квадратные неравенства. Рациональные неравенства. Показательные неравенства. Логарифмические неравенства. Системы линейных неравенств. Системы неравенств с одной переменной. Равносильность неравенств, систем неравенств. Использование свойств и графиков функций при решении Неравенств. Метод интервалов. Изображение на координатной плоскости множества решений неравенств с двумя переменными и их систем.</p>

<p><strong>Геометрия</strong></p>

<p><em>Планиметрия</em></p>

<p>Треугольник. Параллелограмм, прямоугольник, ромб, квадрат. Трапеция. Окружность и круг. Окружность, вписанная в треугольник, и окружность, описанная около треугольника. Многоугольник. Сумма углов выпуклого многоугольника. Правильные многоугольники. Вписанная окружность и описанная окружность правильного многоугольника.</p>

<p><em>Прямые и плоскости в пространстве</em></p>

<p>Пересекающиеся, параллельные и скрещивающиеся прямые; перпендикулярность прямых. Параллельность прямой и плоскости, признаки и свойства. Параллельность плоскостей, признаки и свойства. Перпендикулярность прямой и плоскости, признаки и свойства; перпендикуляр и наклонная; теорема о трёх перпендикулярах. Перпендикулярность плоскостей, признаки и свойства. Параллельное проектирование. Изображение пространственных фигур.</p>

<p><em>Многогранники</em></p>

<p>Призма, её основания, боковые рёбра, высота, боковая поверхность; прямая призма; правильная призма. Параллелепипед; куб; симметрии в кубе, в параллелепипеде. Пирамида, её основание, боковые рёбра, высота, боковая поверхность; треугольная пирамида; правильная пирамида. Сечения куба, призмы, пирамиды. Представление о правильных многогранниках (тетраэдр, куб, октаэдр, додекаэдр и икосаэдр)</p>

<p><em>Тела и поверхности вращения</em></p>

<p>Цилиндр. Основание, высота, боковая поверхность, образующая, развертка. Шар и сфера, их сечения.</p>

<p><em>Измерение геометрических величин</em></p>

<p>Величина угла, градусная мера угла, соответствие между величиной угла и длиной дуги окружности. Угол между прямыми в пространстве, между прямой и плоскостью, между плоскостями. Длина отрезка, ломаной, окружности, периметр многоугольника. Расстояние от точки до прямой, от точки до плоскости. Расстояние между параллельными и скрещивающимися прямыми, расстояние между параллельными плоскостями. Площадь треугольника, параллелограмма, трапеции, круга, сектора. Площадь поверхности конуса, цилиндра, сферы. Объём куба, прямоугольного параллелепипеда, пирамиды, призмы, цилиндра, конуса, шара.</p>

<p><em>Координаты и векторы</em></p>

<p>Координаты на прямой, декартовы координаты на плоскости и в пространстве. Формула расстояния между двумя точками; уравнение сферы. Вектор, модуль вектора, равенство векторов; сложение векторов и умножение вектора на число. Коллинеарные векторы. Разложение вектора по двум неколлинеарным векторам. Компланарные векторы. Разложение по трём некомпланарным векторам. Координаты вектора; скалярное произведение векторов; угол между векторами.</p>

<p>&nbsp;</p>

<p><strong>Список рекомендуемой литературы</strong></p>

<p>&nbsp;</p>

<ol>
	<li>
	<p>Александрова, Л.А. <a href="http://www.ukazka.ru/catalog/book-matematika-reshenie-zadanij-povyshennogo-i-vysokogo-urovnya-slozhnosti-kak-poluchit-maksimalnyj-ball-25374.html">Алгебра</a> и начало математического анализа. 10 класс: самостоятельные работы: профильный уровень /Л.А.Александрова. &ndash; М.: Мнемозина, 2016. &ndash; 591с.</p>
	</li>
	<li>
	<p>Глизбург, В.И. Алгебра и начало математического анализа. 10 класс: контрольные работы: базовый и углубленный уровень / А.Г.Мордкович, В.И.Глизбург. &ndash; М.: Мнемозина, 2014. &ndash; 64с.</p>
	</li>
	<li>
	<p>Мордкович, А.Г. Алгебра и начало математического анализа. 10 класс: учеб. для бщеобразоват. учреждений: профильный уровень / А.Г.Мордкович, П.В.Семенов, Л.И.Звавич. &ndash; М.: Мнемозина, 2014.</p>
	</li>
	<li>
	<p>Мордкович, А.Г. Алгебра и начало математического анализа. 10 класс: задачник: профильный уровень / А.Г.Мордкович, П.В.Семенов, Л.И.Звавич. &ndash; М.: Мнемозина, 2014.</p>
	</li>
	<li>
	<p>Потоскуев, Е.В.Геометрия. 10 класс: учеб. для бщеобразоват. учреждений: углубленный уровень / Потоскуев Е.В., Звавич Л.И. &ndash; М.: Дрофа, 2013.- 224с.</p>
	</li>
	<li>
	<p>Семенов, А.В. Математика. 3300 задач. Профильный уровень. / А.В.Семенов, И.В.Ященко, А.С.Трепалин. &ndash; М.: Интелект-Центр, 2016. &ndash; 128с.</p>
	</li>
	<li>
	<p>Ященко, И.В. <a href="http://www.ukazka.ru/catalog/book-matematika-reshenie-zadanij-povyshennogo-i-vysokogo-urovnya-slozhnosti-kak-poluchit-maksimalnyj-ball-25374.html">Математика. Решение заданий повышенного и высокого уровня сложности. Как получить максимальный балл</a> / И.В.Ященко. &ndash; М.: Экзамен, 2016. &ndash; 591с.</p>
	</li>
</ol>

<p><strong>Структура КИМ ЕГЭ</strong></p>

<p>Экзаменационная работа состоит из двух частей, которые различаются по содержанию, сложности и числу заданий:</p>

<p>&ndash; часть 1 содержит 8 заданий (задания 1&ndash;8) с кратким ответом в виде целого числа или конечной десятичной дроби;</p>

<p>&ndash; часть 2 содержит 4 задания (задания 9&ndash;12) с кратким ответом в виде целого числа или конечной десятичной дроби и 7 заданий (задания 13&ndash;19) с развернутым ответом (полная запись решения с обоснованием выполненных действий).</p>

<p>&nbsp;</p>

<p><strong>Распределение заданий КИМ по уровню сложности</strong></p>

<p>Часть 1 содержит 8 заданий базового уровня (задания 1&ndash;8). Часть 2 содержит 9 заданий повышенного уровня (задания 9&ndash;17) и 2 (18-19) задания высокого уровня сложности (задания 18, 19).</p>

<p>&nbsp;</p>

<p><strong>Продолжительность ЕГЭ по математике профильного уровня</strong></p>

<p>На выполнение экзаменационной работы отводится 3 часа 55 минут (235 минут).</p>

<p>&nbsp;</p>

<p><strong>Дополнительные материалы и оборудование</strong></p>

<p>Необходимые справочные материалы выдаются вместе с текстом экзаменационной работы. При выполнении заданий разрешается пользоваться линейкой.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><br />
&nbsp;</p>
