<p>Продолжительность курса: 32 занятия (1 занятие &ndash; 2 ч 15 мин)</p>

<p>&nbsp;</p>

<p><strong>Механика</strong></p>

<p>&nbsp;</p>

<p><em>Кинематика</em></p>

<p>Механическое движение. Материальная точка. Равномерное прямолинейное движение. Равноускоренное прямолинейное движение. Свободное падение. Движение тела брошенного под углом к горизонту. Движение точки по окружности. Твердое тело. Поступательное и вращательное движение твердого тела.</p>

<p>&nbsp;</p>

<p><em>Динамика</em></p>

<p>Инерциальные системы отсчета. Первый закон Ньютона. Принцип относительности Галилея. Второй закон Ньютона для материальной точки. Третий закон Ньютона для материальных точек. Закон всемирного тяготения. Движение небесных тел и их искусственных спутников. Сила упругости. Закон Гука. Сила трения. Давление.</p>

<p>&nbsp;</p>

<p><em>Статика</em></p>

<p>Момент силы относительно оси. Вращения. Условия равновесия твердого тела. Закон Паскаля. Давление в жидкости. Закон Архимеда.</p>

<p>&nbsp;</p>

<p><em>Законы сохранения в механике</em></p>

<p>Импульс материальной точки. Импульс системы тел. Механическая энергия. Закон изменения и сохранения механической энергии.</p>

<p>&nbsp;</p>

<p><em>Механические колебания и волны</em></p>

<p>Гармонические колебания. Вынужденные колебания. Резонанс. Поперечные и продольные волны. Скорость распространения и длина волны. Интерференция и дифракция волн. Звук.</p>

<p>&nbsp;</p>

<p><strong>Молекулярная физика. Термодинамика</strong></p>

<p>&nbsp;</p>

<p><em>Молекулярная физика</em></p>

<p>Модели строения газов, жидкостей и твердых тел. Тепловое движение атомов и молекул вещества. Диффузия. Броуновское движение. Модель идеального газа. Абсолютная температура. Уравнение Менделеева- Клапейрона. Закон Дальтона для давления смеси разреженных газов. Изопроцессы в разреженном газе с постоянным числом частиц. Насыщенные и ненасыщенные пары. Изменение агрегатных состояний вещества: испарение и конденсация, кипение жидкости, плавление и кристаллизация.</p>

<p>&nbsp;</p>

<p><em>Термодинамика</em></p>

<p>Тепловое равновесие и температура. Внутренняя энергия. Конвекция, теплопроводность, излучение. Удельная теплоемкость вещества. Первый закон термодинамики. Второй закон термодинамики. Принципы действия тепловых машин.</p>

<p>&nbsp;</p>

<p><strong>Электродинамика</strong></p>

<p>&nbsp;</p>

<p><em>Электрическое поле</em></p>

<p>Электризация тел и её проявления. Электрический заряд. Закон сохранения электрического заряда. Закон Кулона. Электрическое поле, его действие на электрические заряды. Проводники в электростатическом поле. Конденсатор.</p>

<p><em>Законы постоянного тока</em></p>

<p>Сила тока. Закон Ома для участка цепи. Электрическое сопротивление. Источники тока. ЭДС и внутреннее сопротивление источника тока. Закон Ома для полной (замкнутой) электрической цепи. Параллельное и последовательное соединение проводников. Закон Джоуля&ndash;Ленца. Свободные носители электрических зарядов в проводниках. Механизмы проводимости твёрдых металлов, растворов и расплавов электролитов, газов. Полупроводники.</p>

<p>&nbsp;</p>

<p><em>Магнитное поле</em></p>

<p>Механическое взаимодействие магнитов. Магнитное поле. Вектор магнитной индукции. Принцип суперпозиции магнитных полей. Линии магнитного поля. Картина линий поля полосового и подковообразного постоянных магнитов. Опыт Эрстеда. Магнитное поле проводника с током. Сила Ампера. Сила Лоренца. Движение заряженной частицы в однородном магнитном поле.</p>

<p>&nbsp;</p>

<p><em>Электромагнитная индукция</em></p>

<p>Поток вектора магнитной индукции. Явление электромагнитной индукции. ЭДС индукции. Закон электромагнитной индукции Фарадея. ЭДС индукции. Правило Ленца. Индуктивность. Самоиндукция. ЭДС самоиндукции. Энергия магнитного поля катушки с током.</p>

<p>&nbsp;</p>

<p><em>Электромагнитные колебания и волны</em></p>

<p>Колебательный контур. Свободные электромагнитные колебания в идеальном колебательном контуре. Формула Томсона. Связь амплитуды заряда конденсатора с амплитудой силы тока в колебательном контуре. Закон сохранения энергии в колебательном контуре. Вынужденные электромагнитные колебания. Резонанс. Переменный ток. Производство, передача и потребление электрической энергии. Свойства электромагнитных волн. Шкала электромагнитных волн. Применение электромагнитных волн в технике и быту.</p>

<p>&nbsp;</p>

<p><em>Оптика</em></p>

<p>Прямолинейное распространение света в однородной среде. Луч света. Законы отражения света. Построение изображений в плоском зеркале. Законы преломления света. Ход лучей в призме. Полное внутреннее отражение. Формула тонкой линзы. Увеличение, даваемое линзой. Ход луча, прошедшего линзу под произвольным углом к её главной оптической оси. Построение изображений точки и отрезка прямой в собирающих и рассеивающих линзах и их системах. Фотоаппарат как оптический прибор.</p>

<p>Глаз как оптическая система. Интерференция света. Когерентные источники. Дифракция света. Дифракционная решётка. Дисперсия света.</p>

<p>&nbsp;</p>

<p><strong>Основы специальной теории относительности</strong></p>

<p>Инвариантность модуля скорости света в вакууме. Принцип относительности Эйнштейна. Энергия свободной частицы. Импульс частицы. Связь массы и энергии свободной частицы. Энергия покоя свободной частицы.</p>

<p>&nbsp;</p>

<p><strong>Квантовая физика</strong></p>

<p>&nbsp;</p>

<p><em>Корпускулярно-волновой дуализм</em></p>

<p>Гипотеза М. Планка о квантах. Формула Планкаю Фотоны. Энергия фотона. Импульс фотона. Фотоэффект. Опыты А.Г. Столетова. Законы фотоэффекта. Уравнение Эйнштейна для фотоэффекта. Волновые свойства частиц. Волны де Бройля. Длина волны де Бройля движущейся. Корпускулярно-волновой дуализм. Дифракция электронов на кристаллах. Давление света. Давление света на полностью отражающую поверхность и на полностью поглощающую поверхность.</p>

<p>&nbsp;</p>

<p><em>Физика атома</em></p>

<p>Планетарная модель атома. Постулаты Бора. Излучение и поглощение фотонов при переходе атома с одного уровня энергии на другой<em>. </em>Линейчатые спектры. Спектр уровней энергии атома водорода. Лазер.</p>

<p>&nbsp;</p>

<p><em>Физика атомного ядра</em></p>

<p>Нуклонная модель ядра Гейзенберга&ndash;Иваненко. Заряд ядра. Массовое число ядра. Изотопы. Энергия связи нуклонов в ядре. Ядерные силы. Дефект массы ядра. Радиоактивность. Альфа-распад. Бета-распад. Электронный &beta;-распад. Позитронный &beta;-распад. Гамма-излучение. Закон радиоактивного распада. Ядерные реакции. Деление и синтез ядер.</p>

<p>&nbsp;</p>

<p><strong>Список рекомендуемой литературы</strong></p>

<ol>
	<li>
	<p>Мякишев, Г.Я. Колебания и волны. 11 класс: учеб. для бщеобразоват. учреждений: углубленный уровень / Г.Я.Мякишев, А.З. Синяков. &ndash; М.: Дрофа, 2017. &ndash; 288с.</p>
	</li>
	<li>
	<p>Мякишев, Г.Я. Оптика. Квантовая физика. 11 класс: учеб. для бщеобразоват. учреждений: углубленный уровень / Г.Я.Мякишев, А.З. Синяков. &ndash; М.: Дрофа, 2017. &ndash; 480с.</p>
	</li>
	<li>
	<p>Мякишев, Г.Я. Электродинамика. 11 класс: учеб. для бщеобразоват. учреждений: углубленный уровень / Г.Я.Мякишев, А.З. Синяков. &ndash; М.: Дрофа, 2017. &ndash; 480с.</p>
	</li>
	<li>
	<p>Мякишев, Г.Я. Физика 11 класс: учеб. для общеобразоват. учреждений: базовый уровень / Г.Я.Мякишев, Б.Б.Буховцев, В.М.Чаругин; под ред. В.И.Николаева, Н.А.Парфентьевой. &ndash; М.: Просвещение, 2015. &ndash; 399с.</p>
	</li>
	<li>
	<p>Мякишев, Г.Я. Физика 10 класс: учеб. для общеобразоват. учреждений: базовый уровень / Г.Я.Мякишев, Б.Б.Буховцев, Н.Н.Сотский; под ред. В.И.Николаева, Н.А.Парфентьевой. &ndash; М.: Просвещение, 2015. &ndash; 336с.</p>
	</li>
	<li>
	<p>Рымкевич, А.П. Физика. 10- 11 класс: задачник/А.П.Рымкевич. &ndash; М.: Дрофа, 2017. &ndash; 192с.</p>
	</li>
	<li>
	<p>Мякишев, Г.Я. Физика. Механика 10 класс: учеб. для общеобразоват. учреждений: углубленный уровень / Г.Я.Мякишев, А.З. Синяков. &ndash; М.: Дрофа, 2017. &ndash; 512с.</p>
	</li>
	<li>
	<p>Мякишев, Г.Я. Физика. Молекулярная физика. Термодинамика. 10 класс: учеб. для общеобразоват. учреждений: углубленный уровень / Г.Я.Мякишев, А.З. Синяков. &ndash; М.: Дрофа, 2017. &ndash; 352с.</p>
	</li>
	<li>
	<p>Мякишев, Г.Я. Физика. Электродинамика. 10 класс: учеб. для общеобразоват. учреждений: углубленный уровень / Г.Я.Мякишев, А.З. Синяков. &ndash; М.: Дрофа, 2017. &ndash; 480с.</p>
	</li>
</ol>

<p><br />
&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><strong>Структура КИМ ЕГЭ</strong></p>

<p>Каждый вариант экзаменационной работы состоит из двух частей и включает в себя 31 задание, различающихся формой и уровнем сложности.</p>

<p>Часть 1 содержит 23 задания с кратким ответом. Из них 13 заданий с записью ответа в виде числа, слова или двух чисел, 10 заданий на установление соответствия и множественный выбор, в которых ответы необходимо записать в виде последовательности цифр.</p>

<p>Часть 2 содержит 8 заданий, объединенных общим видом деятельности &ndash;решение задач. Из них 3 задания с кратким ответом (24&ndash;26) и 5 заданий (27&ndash;31), для которых необходимо привести развернутый ответ.</p>

<p>&nbsp;</p>

<p><strong>Распределение заданий КИМ по уровню сложности</strong></p>

<p>В экзаменационной работе представлены задания разных уровней сложности: базового, повышенного и высокого.</p>

<p>Задания базового уровня включены в часть 1 работы (18 заданий с кратким ответом, из которых 15 заданий с записью ответа в виде числа или слова и 3 задания на соответствие или изменение физических величин с записью ответа в виде последовательности цифр). Это простые задания, проверяющие усвоение наиболее важных физических понятий, моделей, явлений и законов.</p>

<p>Задания повышенного уровня распределены между частями 1 и 2 экзаменационной работы: 5 заданий с кратким ответом в части 1, 3 задания с кратким ответом и 1 задание с развернутым ответом в части 2. Эти задания направлены на проверку умения использовать понятия и законы физики для анализа различных процессов и явлений, а также умения решать задачи на применение одного двух законов (формул) по какой-либо из тем школьного курса физики.</p>

<p>4 задания части 2 являются заданиями высокого уровня сложности и проверяют умение использовать законы и теории физики в измененной или новой ситуации. Выполнение таких заданий требует применения знаний сразу из двух трех разделов физики, т.е. высокого уровня подготовки. Включение в часть 2 работы сложных заданий разной трудности позволяет дифференцировать учащихся при отборе в вузы с различными требованиями к уровню подготовки.</p>

<p>&nbsp;</p>

<p><strong>Продолжительность ЕГЭ по физике</strong></p>

<p>На выполнение всей экзаменационной работы отводится 235 минут.</p>

<p>&nbsp;</p>

<p><strong>Дополнительные материалы и оборудование</strong></p>

<p>Используется непрограммируемый калькулятор (на каждого ученика) с возможностью вычисления тригонометрических функций (cos, sin, tg) и линейка.</p>
