<p>Продолжительность курса: 32 занятия (1 занятие &ndash; 2 ч 15 мин)</p>

<p><strong>Лексика и фразеология</strong></p>

<p>Лексическое значение слова. Синонимы. Антонимы. Омонимы. Фразеологические обороты. Группы слов по происхождению и потреблению. Лексический анализ.</p>

<p><strong>Морфемика и словообразование</strong></p>

<p>Значимые части слова (морфемы). Морфемный анализ слова. Основные способы словообразования. Словообразовательный анализ слова.</p>

<p><strong>Грамматика. Морфология</strong></p>

<p>Самостоятельные части речи. Служебные части речи. Морфологический анализ слова.</p>

<p><strong>Грамматика. Синтаксис</strong></p>

<p>Словосочетание. Предложение. Грамматическая (предикативная) основа предложения. Подлежащее и сказуемое как главные члены предложения. Второстепенные члены предложения. Двусоставные и односоставные предложения. Распространенные и нераспространенные предложения. Полные и неполные предложения. Осложненное простое предложение. Сложное предложение. Сложные бессоюзные предложения. Смысловые отношения между частями сложного бессоюзного предложения. Сложные предложения с разными видами связи между частями. Способы передачи чужой речи. Синтаксический анализ простого и сложного предложения</p>

<p><strong>Орфография</strong></p>

<p>Орфограмма. Употребление гласных букв И/Ы, А/Я, У/Ю после шипящих и Ц. Употребление гласных букв О/Е (Ё) после шипящих и Ц. Употребление Ь и Ъ. Правописание корней. Правописание приставок. Правописание суффиксов различных частей речи (кроме -Н-/-НН-). Правописание -Н- и -НН- в различных частях речи. Правописание падежных и родовых окончаний. Правописание личных окончаний глаголов и суффиксов причастий. Слитное и раздельное написание НЕ с различными частями речи. Правописание отрицательных местоимений и наречий. Правописание НЕ и НИ. Правописание служебных и словарных слов. Слитное, дефисное, раздельное написание слов различных частей речи. Орфографический анализ.</p>

<p><strong>Речь</strong></p>

<p>Текст как речевое произведение. Смысловая и композиционная целостность текста. Средства связи предложений в тексте. Стили и функционально-смысловые типы речи. Отбор языковых средств в тексте в зависимости от темы, цели, адресата и ситуации общения. Анализ текста. Создание текстов различных стилей и функционально-смысловых типов речи.</p>

<p>&nbsp;</p>

<p><strong>Список рекомендуемой литературы</strong></p>

<p>&nbsp;</p>

<ol>
	<li>
	<p>Гольцова Н.Г. Русский язык в таблицах. 10-11классы/ Н.Г.Гольцова, И.В.Шамшин &ndash; М.: ООО &laquo;ТИД &laquo;Русское слово - РС&raquo;, 2013. &ndash; 112с.</p>
	</li>
	<li>
	<p>Гольцова Н.Г. Русский язык. 10 &ndash; 11 классы: учеб. для общеобразоват. учреждений/Н.Г.Гольцова, И.В. Шамшин, М.А. Мещерина. &ndash; М.: ООО &laquo;ТИД &laquo;Русское слово &ndash; РС&raquo;, 2016. &ndash; 448с.</p>
	</li>
	<li>
	<p>Гольцова Н.Г., Шамшин И.В. Контрольные тесты: Орфография и пунктуация. 10-11 классы: &ndash; М.: ООО &laquo;ТИД &laquo;Русское слово - РС&raquo;, 2016.- 48с.</p>
	</li>
	<li>
	<p>Капинос В.И. Единый государственный экзамен. Русский язык. Универсальные материалы для подготовки учащихся/ В.И. Капинос, И.П. Цыбулько &ndash; М.: Интеллект-Центр, 2016. &ndash; 224с.</p>
	</li>
	<li>
	<p>Меркин Б.Г., Смирнова Л.Г. Русский язык. Подготовка к ЕГЭ: Дидактические и справочные материалы. Тесты. &ndash; М.: ООО &laquo;ТИД &laquo;Русское слово &ndash; РС&raquo;, 2015. &ndash; 432 с.</p>
	</li>
	<li>
	<p>Пахнова Т.М. Русский язык: интенсивная подготовка к ЕГЭ в процессе работы с текстом. &ndash; М.: Дрофа, 2009. &ndash; 222 с.</p>
	</li>
</ol>

<p>&nbsp;</p>

<p><strong>Структура КИМ ЕГЭ</strong></p>

<p>Каждый вариант экзаменационной работы состоит из двух частей и включает в себя 25 заданий, различающихся формой и уровнем сложности.</p>

<p>Часть 1 содержит 24 задания с кратким ответом.</p>

<p>В экзаменационной работе предложены следующие разновидности заданий с кратким ответом:</p>

<p>&ndash; задания открытого типа на запись самостоятельно сформулированного правильного ответа;</p>

<p>&ndash; задания на выбор и запись одного или нескольких правильных ответов из предложенного перечня ответов.</p>

<p>Часть 2 содержит 1 задание открытого типа с развёрнутым ответом (сочинение), проверяющее умение создавать собственное высказывание на основе прочитанного текста.</p>

<p>&nbsp;</p>

<p><strong>Распределение заданий КИМ по уровню сложности</strong></p>

<p>Задания части 1 проверяют усвоение выпускниками учебного материала как на базовом, так и на высоком уровнях сложности (задания 7, 23&ndash;24).</p>

<p>Задание части 2 (задание 25 &ndash; сочинение) может быть выполнено экзаменуемым на любом уровне сложности (базовом, повышенном, высоком).</p>

<p>&nbsp;</p>

<p><strong>Продолжительность ЕГЭ по русскому языку</strong></p>

<p>На выполнение экзаменационной работы отводится 3,5 часа (210 минут).</p>

<p>&nbsp;</p>

<p><strong>Дополнительные материалы и оборудование</strong></p>

<p>Дополнительные материалы и оборудование не используются.</p>
