{% for pagesubject in site.data.subjects %}
 {% if page.menu == pagesubject.url %}

<div class="container content">
  <div class="title-box-v2">
    <h2><span class="color-green">П</span>реподаватели {{ pagesubject.rodp }}</h2>
  </div>

  <div class="row team-v4 ">
  <div class="teachers-table center-block ">
{% for t in site.data.teachers %}

  {% assign code = t[0] %}
  {% assign teacher = t[1] %}
  {% assign photo = t[2] %}
  {% assign subject = t[3] %}
  {% assign standing = t[4] %}
  {% assign exp = t[5] %}
  {% assign edu = t[6] %}
  {% assign spec = t[7] %}
  {% assign cat = t[8] %}
  {% assign subjecten = t[9] %}
  {% assign description = t[10] %}

      {% if teacher.subjecten == pagesubject.subject  %}

        <div class="col-md-4 col-sm-6 md-margin-bottom-60 teachers-cell">
          <img class="img-responsive" src="{{ site.url }}/assets/img/teachers/{{ teacher.photo }}" alt="">
          <span>{{ teacher.name }}</span>
          <small>- {{ teacher.subject }} -</small>
          <p>Педагогический стаж: {{ teacher.standing }}</p>
          <p>Опыт подготовки к ЕГЭ: {{ teacher.experience }}</p>
          <p><a href="{{ site.url }}/pages/{{ t[0] }}.html" class="btn-u">Подробнее</a></p>
          <br>
        </div>    
      {% endif %}

{% endfor %}    
  </div>
</div>  
<hr class="devider devider-dashed">
<div class="row margin-bottom-40">
  <div class="col-md-12 ">
    <div class="title-box-v2">
      <h2><span class="color-green">Отзывы</span> учеников</h2>
    </div>    
    <div id="testimonials-8" class="carousel slide testimonials testimonials-v2">
      <div class="carousel-inner">  
        {% for review in site.data.reviews %}
          {% if review.subject == pagesubject.subject %}   
            <div class="item {{review.subject-active }}">
              <p>{{ review.review }}</p>
              <div class="testimonial-info">
                <span class="testimonial-author">
                  {{ review.author-name }}
                  <em>{{ review.author-class }}</em>
                </span>
              </div>
            </div>
          {% endif %}

        {% endfor %}    
      <div class="carousel-arrow">
        <a class="left carousel-control" href="#testimonials-8" data-slide="prev">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#testimonials-8" data-slide="next">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>  
</div>  
  
 
   {% if $pagesubject.programm9 %}
  <br>
    <div class="heading heading-v1 margin-bottom-40">
      <h2 class="sale">Программа подготовки по <span class="color-green">{{ pagesubject.datp }}</span></h2>
    </div>
   {% endif %}

<div class="row">    

   {% if $pagesubject.programm9 %}
  <div class="row tab-v3">
  <div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
      {% if $pagesubject.programm9%}
      <li class="active"><a href="#programm-9" data-toggle="tab" aria-expanded="true"><i class="fa fa-map-o"></i>К ОГЭ для 9 класса</a></li>
      {% endif %}
   

      
    </ul>
  </div>
  <div class="col-sm-9">
    <div class="tab-content">
      {% if $pagesubject.programm9%}
      
      <div class="tab-pane fade active in" id="programm-9">
        <h2>Программа подготовки к ОГЭ для 9 класса</h2>        
        {% include programms/{{ pagesubject.url }}-9.html %}
      </div>
      {% endif %} 
       
    </div>
  </div>
</div>  
{% endif %}       
  
   
</div>
   {% endif %}
{% endfor %}    
