<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js'></script>

<script type="text/javascript">
	setTimeout(function(){$('.hide-block').fadeOut('fast')},60000*{{ page.testtime }});  //30000 = 30 секунд
	setTimeout(function(){$('.box-show').css("display", "block")},60000*{{ page.testtime }});  //30000 = 30 секунд
</script>
<script type="text/javascript">
function timery(){
var obj=document.getElementById('timer');
obj.innerHTML--;
if(obj.innerHTML==0){setTimeout(function(){},60000*{{ page.testtime }});}
else{setTimeout(timery,60000*{{ page.testtime }});}
}
setTimeout(timery,60000*{{ page.testtime }});
</script>
<div class="container content">
  <div class="row margin-bottom-120">
      <div class="title-box-v2">
        <h2><span class="color-green">Тестирование</span> {{ page.title}}</h2>
      </div>    
    <div class="hide-block">
    <div class="col-md-6 col-md-offset-3">

      <div class="alert alert-danger fade in text-center box">
        Этот тест исчезнет через <strong><div id="timer">{{ page.testtime}}</div></strong> минут.<br>
        <strong>Важно</strong> отправить форму до окончания времени. 
      </div>  
    </div>
    <div class="col-md-12">
       {{ page.frame}} 
    </div>
    </div>
    <div class="col-md-6 col-md-offset-3 margin-bottom-60 box-show">

      <div class="alert alert-success fade in text-center ">
        Спасибо за уделенное время!<br>
        Мы свяжемся с Вами <strong>после обработки</strong> результатов тестирования.
      </div>  
    </div>
  </div>
</div>