<!DOCTYPE html>
<!--[if IE 8]> <html lang="ru" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="ru" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="ru"> <!--<![endif]-->
<head>
  {% include head.html %}
</head>

<body>
  {% include bodyopen.html %}
	<div class="wrapper">
    <div class="header">
			<div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="shadow-wrapper">
                <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
                    <div class="row">
                      <div class="col-md-12">
                      </div>
                  </div>

                    <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-12">
                        <a class="logo text-uppercase" href="{{ site.url }}/index.html">
                          <img src="{{ site.url }}/assets/dom_ege_logo_min1.png" alt="Logo">
                        </a>                          <div class="header-contact">

                        <p class="logo1">Сеть образовательных центров<br>Подготовка учащихся 9-11 классов к ЕГЭ и ОГЭ</p></div>
                      </div>
                      <div class="col-md-4 col-sm-6 col-xs-12">
                        <p class="text-center"><a href="/form.html" class="btn-u btn-brd btn-u btn-u-lg btn-logo"><i class="icon-pencil"></i> Записаться на курсы</a></p>
                        <p class="color-green big-text text-center">Скидка 15% </p>
                        <p class="text-center">при заключении договора до 30 сентября</p>
                      </div>

                       <div class="col-md-3 offset-col-md-1 pull-right col-sm-4 offset-col-sm-4 col-xs-12">
                          <div class="header-contact" style="margin-top:20px">
                            <span><i class="fa fa-phone color-green"></i><a href="tel:+7 (495) 798-36-96"> +7 (495) 798-36-96</a></span><br>
                            <span class="mail"><i class="fa fa-envelope color-green"></i><a href="mailto:info@dom-ege.ru"> info@dom-ege.ru</a></span>
                            <p class="logo">Ежедневно с 10:00 до 19:00<br>м. Китай-Город<br>30сентября-выходной</p>
				  <p class="color-green big-text text-center">30сентября-выходной </p>

                          </div>
                      </div>
                    </div>
                    <div class="row">
                      
                       <div class="col-md-12 col-sm-12 col-xs-12">
                        <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="fa fa-bars"></span>
                        </button>
                        <!-- End Toggle -->
                          {% include menu.html %}
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>


        </div>
		</div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {{ content }}
          <br>
					<!-- Owl Carousel v1 -->
					<div class="owl-carousel-v1">
						<div class="owl-navigation">
							<div class="customNavigation">
								<a class="owl-btn prev-v1"><i class="fa fa-angle-left"></i></a>
								<a class="owl-btn next-v1"><i class="fa fa-angle-right"></i></a>
							</div>
						</div><!--/navigation-->

						<div class="owl-slider">
            {% for img in site.data.insts %}
              <div class="item">
                <img class="img-responsive" src="{{ site.url }}/assets/img/instlogo/{{ img.url }}">
              </div>
            {% endfor %}              
						</div>
					</div>
					<!-- End Owl Carousel v1 -->       
        </div>
      </div>
    </div>

    <div class="footer-v1">
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>
                2016-2017 &copy; ДОМ-ЕГЭ. Все права защищены.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
	<!-- JS Global Compulsory -->
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/jquery/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<!-- JS Implementing Plugins -->
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/back-to-top.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/smoothScroll.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
	<!-- JS Customization -->
	<script type="text/javascript" src="{{ site.url }}/assets/js/custom.js"></script>
	<!-- JS Page Level -->
	<script type="text/javascript" src="{{ site.url }}/assets/js/app.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/js/plugins/owl-carousel.js"></script>
	<script type="text/javascript" src="{{ site.url }}/assets/js/plugins/style-switcher.js"></script>
  <script src="{{ site.url }}/assets/js/mousetrap.min.js?a4098"></script>
  <script>
  Mousetrap.bind('ctrl+shift+k', function(e) {
    window.open('https://github.com/nastiya25/dom-ege.ru/edit/gh-pages/{{page.path}}');
  });
  </script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			App.init();
			OwlCarousel.initOwlCarousel();
			StyleSwitcher.initStyleSwitcher();
			ParallaxSlider.initParallaxSlider();
		});
	</script>
		<!--[if lt IE 9]>
			<script src="{{ site.url }}/assets/plugins/respond.js"></script>
			<script src="{{ site.url }}/assets/plugins/html5shiv.js"></script>
			<script src="{{ site.url }}/assets/plugins/placeholder-IE-fixes.js"></script>
		<![endif]-->
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter44393470 = new Ya.Metrika({ id:44393470, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/44393470" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>
